/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --bg-color: snow;
  --color-text: #333;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --color-text: snow;
  }
}
